@import "base/mixin";
@import "plugin/slick";
@import "plugin/slick-theme";
@import "template/pagekv";
@import "template/topmenu";
@import "template/editor_inner";
@import "template/embeds";
@import "template/exhi";


.about{
    #topmenu1{
        margin-bottom: 2em;
    }
    @include mediaquery(null,$md){          
        .pc_use{
            display: none;
        } 
    }
    @include mediaquery($md,null){
        #topmenu1{
            margin-bottom: 5em;
        }     
        .mo_use{
            display: none;
        }
    }
}

.cmp{
    .imgbx{
        .col-4 div::before{
            content: "";
            width: 6px;
            height: 6px;
            @include border();
            background-color: $color1;
            margin-right: 10px;
            vertical-align: 2px;
            @include position(absolute,$top:0.75em,$left:0);
        }
        .col-4{
            margin-top: 68px;
        }
        .col-4 div{
            margin-top:12px;
            padding-left: 16px;
            position: relative;
        }        
    }
    .info{
        margin-bottom: 100px;
        .btn1.red{
            margin-top:16px;
            width: 16em;
        }
    }
    @include mediaquery(null,$md){
        .text-center-sm{
            text-align: center;
        }
        .imgbx{    
            .col-4{
                max-width: 400px;
                margin:24px auto 0;
            }
        }
        .info{
            margin-bottom: 80px;
            .col-6-img{
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }
    }
    @include mediaquery($md,$lg){
        .imgbx{
            .col-4{
                width: calc((100% - 25px) / 2);
            }          
            .col-4:not(:nth-child(2n)){
                margin-right: 25px;
            }
        }
        .info{
            .btn1.red{
                margin-right: 24px;
            }
            .col-6-img{
                margin-top: 2em;
                margin-bottom: 2em;
            }
        }
    }
    @include mediaquery($lg,null){  
        .imgbx{          
            .col-4{
                width: calc((100% - 50px) / 3);
            }          
            .col-4:not(:nth-child(3n)){
                margin-right: 25px;
            }
        }  
        .info{
            .txt{
                width: 48%;
                padding-right: 24px;
                margin-top: 24px;
            }
            .btn1.red{
                margin-right: 24px;
            }
            .col-6-img{
                @include position(absolute,$right:0,$top:0);
                transform: translateX(24px);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            .col-6-img img{
                width: 65%;
            }
        }
        
    }
    @include mediaquery($maxConentW,null){
        .info{
            .col-6-img{
                transform: translateX(calc((100vw - 1296px) / 2));
            }
            .col-6-img img{
                width: 43vw;
            }
        }
    }
}

.intro{
    .titleB{
        margin-bottom: 1.3em;
    }
    .p1{
        .txt{
            @include font-size(pxToRem(18),pxToRem(20));
            font-weight: 500;
            line-height: 2.25;
        }
        .txt i{
            color:$color0;
        }
        .txt b{
            color:#178562;
        }
    }
    .p2{
        li{
            padding:1.3em 0em 1.3em 0.5em;
            display: flex;
        }
        li:not(:last-child){            
            border-bottom: 1px solid #a3a3a3;
        }
        li b{
            color:#178562;
            width: 4.8em;
            text-align-last: justify;
        }
        li div{
            flex:1;
        }
        li span{
            display: inline-block;
            width: 7.45em;
        }
        li span:before{
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            @include border();
            background-color: $color1;
            margin-right: 10px;
            vertical-align: 2px;
        }
        &:after{                
            content:'';
            background-color: #f7f7f7;
            @include position(absolute,$right:0,$bottom:0);
            width: 100%;
            height: calc(100% - 160px);
            z-index: -1;
        }
    }
    .p3{
        .imgbx{
            background-color: #edf5f3;
            padding:50px;
            overflow: auto;
            text-align: center;
        }
        .fred{
            color:$color0;
            padding:0 $pdr-mo 0.5em;
            line-height: 1.2;
        }
    }
    .p4{
        padding:5em 0 6em;
        position: relative;
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            background: no-repeat url(../images/about/milestone_bg_1.png) left 200px / 320px;
            @include position(absolute,$top:0,$left:0);
            z-index: -1;
        }
        &:after{
            content: "";
            width: 100%;
            height: 100%;
            background: no-repeat url(../images/about/milestone_bg_2.png) right 95% / 300px;
            @include position(absolute,$right:0,$bottom:0);
            z-index: -1
        }
    }
    .p5{
        padding:3.5em 0 0em;
        .exhi{
            margin:4em 0 0em;
        }
    }
    @include mediaquery(null,$md){
        .p1{
            padding: 0 22px;
            .txt{
                line-height: 1.85;
                padding-top: 2em;
                padding-bottom: 3em;
            }
            .txt em{
                display: block;
            }
            .col-img{
                width: calc(100% + 50px);
                transform: translateX(-25px);
            }
        }
        .p2{
            margin-bottom: 3em;
            li{
                padding-left: 0;
                letter-spacing: 0px;
            }
            li b{
                width: 4em;
                margin-right: 1.8em;
            }
            &:after{
                bottom: 12vw;
            }
        }
        .p3{
            .imgbx{
                height: calc(100vh - 70px);
            }
            .imgbx img{                
                height: 100%;
                max-width: initial;
            }
        }
        .p4{
            padding:4em 0 3em;
            &::before{
                background-position: left -2em;
                background-size: 8em;
            }
            &::after{
                display: none;
            }
        }
        .p5{
            padding:3em 0 0;
            .titleB{
                text-align: center;
            }
            .exhi{
                margin:2em 0 0em;
            }
        }
        
    }
    @include mediaquery($md,null){
        .p1{
            padding-left: $pdr-pc;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .p2{
            margin-top: 65px;
            margin-bottom: 120px;    
            li b{
                margin-right: 80px;
            }
            .col-txt{                
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
    @include mediaquery($md,$lg){
        .p1{
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            .col-img{
                width: 120%;
                transform: translateX(-15%);                
            }
            .txt{
                margin-top: 2em;
            }
        }
        .p2{
            &:after{
                bottom: 120px;
                height: calc(100% - 280px);;
            }
        }
        .p3{
            .imgbx{
                height: calc(80vh - 70px);
            }
            .imgbx img{                
                height: 100%;
                max-width: initial;
            }
        }
    }
    @include mediaquery($lg,null){
        .p1{
            padding-left: 50vw;   
            display: flex;
            flex-direction: column;
            justify-content: center;      
            .col-img{                
                @include position(absolute,$right:34vw,$top:50%);
                display: flex;
                align-items: center;
                height: 37vw;
                transform: translate(-20vw,-50%);
            }
        }
        .p2{        
            .col-img{                
                @include position(absolute,$left:48vw,$top:calc(50% + 80px));
                transform: translate(0vw,-50%);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 37vw;
            }
            .col-txt{
                width: 42%;
            }
            &:after{
                clip-path: polygon(0 0, 100% 0,950px 100%, 0% 100%);
                width: 1240px;
                right:20vw;
            }
        }
        .p5{
            position: relative;
            &::before{
                content: "";
                clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%);
                width: 900px;
                height: calc(100% + 6vw);
                background-color: #f5f5f5;
                @include position(absolute,$right:0,$top:0);
            }
        }
    }    
    @include mediaquery($maxConentW,null){
        .p1{ 
            min-height: 450px;  
        }
        .p2{
            .col-img{
                min-height: 605px;
            }
            &:after{                
                right:calc(100% - 1240px);
            }
        }
    }
    @include mediaquery($xxl,null){        
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            background: no-repeat url(../images/about/c_pattern.png) right top;
            @include position(absolute,$top:0,$left:0);
            z-index: -1;
        }
    }
}

.history{
    .top-menu-history{
        width: 100vw;
        position: relative;
        margin-bottom: 5em;
        .item_menu_Box{
            position: relative;
            margin:0 auto;
                overflow-x: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        ul.slides{	
            white-space: nowrap;
            display: inline-flex;
        }  
        li{
            position: relative;
            display: inline-block;     
            padding:0 2em;     
        }
        .ytime{
            @include font-size(pxToRem(28),pxToRem(50));
            color:$color2;
            font-weight: 800;
            line-height: 1;
            font-family: $fontfix;
            text-align: center;
        }
        .dots{
            width: 100%;
            height: 2px;
            z-index: -1;
            display: block;
            margin:2em auto;
            position: relative;
        }
        .dots::before{
            content: "";
            @include position(absolute,$top:50%,$left:50%);
            transform: translate(-50%,-50%);
            width: calc(100% + 4em);
            height: 100%;
            background-color: #d8d8d8;
            z-index: -1;
        }
        .dots i{
            width: 1em;
            height: 1em;
            display: inline-block;
            background-color: $color1;
            @include border();
            @include position(absolute,$top:50%,$left:50%);
            transform: translate(-50%,-50%);
            z-index: 10;
        }
        .dots i:after{
            content: '';
            width: 150%;
            height: 150%;
            opacity: 0.3;
            @include position(absolute,$top:50%,$left:50%);
            transform: translate(-50%,-50%);
            background-color: $color1;
            @include border();
            z-index: -1;
        }
        li:nth-child(2) .dots::before{
            width: 80%;
            transform: translate(0,-50%);
        }
        li:last-child .dots::before{
            width: 80%;
            transform: translate(-100%,-50%);
        }
        .txt{
            max-width: 10.8em;            
            white-space: initial;
            text-align: left; 
            line-height: 1.625;       
            display: inline-block;
        }
    }    
    
    @include mediaquery(null,$md){
        .top-menu-history{            
            margin:0 auto 4em;
            .dots{                
                margin:1em auto;
            }
            .dots i{
                transform: translate(-50%, -50%) scale(0.6);
            }
            li{
                padding:0 1em;
                width: 8.8em;
            }
            li.active{
                display: none;
            }
        }
    }
    
    @include mediaquery($md,null){    
        li.active{
            width: calc((100vw - 1296px) / 2 + 4em);
        }
        .open_flexslider .flex-direction-nav{ 
            display: block;
        }
        .flex-direction-nav a{            
            margin-left: 2em;
            margin-bottom: 60px;
        }
    }
}