@import "base/mixin";
@import "template/pagekv";
@import "template/topmenu";
@import "template/pagination";
@import "template/editor_inner";
@import "layout/newslist";

#topmenu1{  
    font-size: pxToRem(20);
}

.flex-direction-nav a{
    top:0.9em
}
.news{
    @include mediaquery(null,$md){
        .top-menu-ul{
            margin-bottom: 1em;
        }
        .page{
            margin-top: 3em;
        }
        .editor_inner{
            margin:1.5em 0 3em;
        }
    }
    @include mediaquery($md,null){
        .top-menu-ul{
            margin-bottom: 80px;
        }
        .page{    
            margin-top: 100px;
            margin-bottom: 20px;
        }
        .editor_inner{
            margin:3em 0 3.5em;
        }
    }
}
.news-detail{
    h1{
        @include font-size(pxToEm(22),pxToEm(24)); 
        color:$color2;
        margin-top: 0.5em;
    }
    .date-tag{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        .mtag{
            margin-left: 1em;
        }
    }
    .line{
        width: 3em;
        height: 2px;
        background-color: $color0;
        margin:2em 0;
        display: block;
    }
    .editor_box{
        margin-bottom: 2.5em;
    }
    @include mediaquery($md,null){
        .date-tag{
            margin-bottom: 2em;
            .mtag{
                margin-left: 2em;
            }
        }
        .line{
            width: 4em;
        }
        .editor_box{
            margin-bottom: 4em;
        }
    }
}