.page{
    @include font-size(pxToEm(16),pxToEm(20));
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    a{
      @include font-color($color2,500,1.5);
      display: block;
      position: relative;
      border:1px solid rgba($color2,0);
      @include border();
      min-width: 40px;
      line-height: 40px;
      height: 40px;
    }
    dt a{
      // display: block;
      // position: relative;
      // width: 30px;
      // height: 30px;
      // padding-top: 10px;
      // &:before{
      //   display: block;
      // }
    }
    .svg{
        stroke:$color2;
        transition: stroke 0.6s;
        width: 10px;
    }
    //當前
    .active a{
      border-color:$color1;  
    }
    @include mediaquery(null,$md){
      dd{
        margin:0 9px;
      }  
      dt{
        padding-top: 5px;
      }
    }
    @include mediaquery($md,null){
      dd{
        margin:0 30px;
      }
      dt{
        margin:0 36px;
      }
      a:hover{        
        border-color:$color1;   
      }
    }
  }